HeaderFilterRegex: ''
Checks: '
  bugprone-*,
  concurrency-*,
  cppcoreguidelines-*,
  modernize-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -readability-magic-numbers
'
FormatStyle: file
