*~
*.swp
*.DS_Store

#ignore doxygen files for now
include/gitinfo.hh

#ignore libraries and helper files
*.so
*.d

#ignore output files
*.root
*.out
*.pdf
*.log
*.dot

#ignore kdev files
*.kdev4

#install directories
bin
lib
share

#ignore build and map directory
build*
bldXcode
map_directory

#ignore log and rootfiles directory
log
rootfiles
