*~
*.swp
*.DS_Store

#ignore doxygen files for now
include/gitinfo.hh

#ignore libraries and helper files
*.so
*.d

#ignore output files
*.root
*.out
*.pdf

#ignore kdev files
*.kdev4

#ignore build and map directory
build*
bldXcode
map_directory

#ignore project files for eclipse
.cproject
.project

#ignore dot files
*.dot

#sample_gdml output
sample_gdml.*

#ignore log files
*.log
