[submodule "geometry/generators/CoilGenerator"]
	path = geometry/generators/CoilGenerator
	url = https://github.com/rahmans1/CoilGenerator
[submodule "geometry/generators/remoll-detector-generator"]
	path = geometry/generators/remoll-detector-generator
	url = https://github.com/JeffersonLab/remoll-detector-generator.git
